* {
    padding: 0;
    margin: 0;
}
html{
    padding: 2rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
}
.shape-one{
    position: absolute;
    width:400rem;
    height:400rem;
    z-index: -10;
    transform: translateX(225rem) translateY(-210rem) rotate(-52deg) scaleY(-1);
    right: 0;
}
.shape-two{
    position: absolute;
    width: 76rem;
    height: 76rem;
    transform: translateY(-12rem) translateX(18rem) rotate(240deg);
    z-index: -9;
    top:0;
    right: 0;
}